@CHARSET "UTF-8";

/* Font */
.ui-widget {
	font: small-caption !important;
	font-size: 12px !important;
	text-shadow: 1px 1px 9px #D6D6D6;
}

/*  Permit no spacing in <p:dataGrid>  */
.ui-datagrid-data {
	border-collapse: collapse;
}

.ui-datagrid-column {
	padding: 0px !important;
}

.ui-widget-content {
	border: none;
}

/* Buttons */
.ui-button {
	margin-right: 7px;
	background: none !important;
	background-color: #74ffcc !important;
	border: 0px solid #DEE5F2 !important;
	border-radius: 6px;
	font-weight: bold !important;
}

.ui-button:hover {
	background: none;
	background-color: #2EC890 !important;
	border: 0px solid #DEE5F2;
	border-radius: 6px;
	color: white;
	font-weight: bold;
}

button.ui-button-icon-only {
	height: 24px;
	width: 24px;
	margin-right: 12px;
}

/*  DataTable  */
.ui-datatable {
	font-family: inherit !important;
}

.ui-datatable th {
	background: none !important;
	background-color: #dddddd !important;
	border: 0px !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
	text-align: left !important;
}

.ui-datatable-data tr {
	background: none;
	color: #3f586d;
	border: 0px !important;
	border-bottom: 1px solid #b9c7d3;
	background-color: #F5F5F5;
}

.ui-datatable-data-empty tr {
	border: 0px !important;
	text-align: center !important;
	height: 342px;
}

.ui-datatable td,.ui-datatable-data-empty td {
	border: 0px !important;
	border-bottom: 1px solid #D6D6D6 !important;
	padding-left: 4px !important;
	padding-right: 4px !important;
	padding-top: 2px !important;
	padding-bottom: 3px !important;
}

.ui-state-default {
	box-shadow: none;
}

/* Dialog */
.ui-dialog {
	padding: 0px !important;
	border: 3px solid white;
	border-radius: 3px 3px 3px 3px !important;
	-moz-box-shadow: 2px 2px 2px #aaa;
	-webkit-box-shadow: 2px 2px 2px #aaa;
	box-shadow: 2px 2px 2px 2px #aaa;
}

.ui-dialog-titlebar {
	border-radius: 2px 2px 2px 2px !important;
	margin: 0px !important;
	border: 0px !important;
	background-image: none !important;
	background-color: #2EC890;
	color: white;
	padding: 0px 0px 5px 7px !important;
	height: 19px;
}

.ui-state-hover {
	background: none !important;
}

.ui-state-focus {
	background: #74FFCC !important;
}

/* Confirm Dialog*/
.ui-confirm-dialog .ui-dialog-buttonpane {
	text-align: center !important;
	padding: 0 1em 0.5em 0.4em;
}

.ui-confirm-dialog .ui-dialog-content {
	padding: 10px 20px 0 !important;
}

.ui-confirm-dialog .ui-dialog-content .ui-icon {
	background-image:
		url("/atius/javax.faces.resource/growl/images/info.png.jsf?ln=primefaces");
	height: 32px;
	width: 32px;
	margin-right: 20px;
}

.ui-confirm-dialog .ui-dialog-content .ui-icon-alert {
	background-position: 0 0 !important;
}

/* Growl */
.ui-growl {
	right: 100px;
	top: 10px;
	width: 380px;
}

.ui-growl .ui-widget-content {
	background: none repeat scroll 0 0 #2EC890;
	border: 1px solid #A8A8A8 !important;
}

.ui-growl-message {
	width: 300px;
}

/* Menu */
.ui-menu {
	background: #FFFFFF;
	border-radius: 6px;
	border: 2px solid #74ffcc;
}

.ui-menu .ui-menu-list .ui-state-hover {
	background-color: #74ffcc !important;
	color: white;
	font-weight: bold;
}