@CHARSET "UTF-8";

@IMPORT url("application.css.jsf?ln=css/xp-style");

@IMPORT url("xp-style-basic.css.jsf?ln=css/xp-style");

@IMPORT url("xp-style-button.css.jsf?ln=css/xp-style");

@IMPORT url("xp-style-confirm-dialog.css.jsf?ln=css/xp-style");

@IMPORT url("xp-style-datagrid.css.jsf?ln=css/xp-style");

@IMPORT url("xp-style-datalist.css.jsf?ln=css/xp-style");

@IMPORT url("xp-style-fonts.css.jsf?ln=css/xp-style");

@IMPORT url("xp-style-input.css.jsf?ln=css/xp-style");

@IMPORT url("xp-style-menu.css.jsf?ln=css/xp-style");

@IMPORT url("xp-primefaces-basic.css.jsf?ln=css/xp-style/xp-primefaces");

@IMPORT url("xp-primefaces-dialog.css.jsf?ln=css/xp-style/xp-primefaces");

/*
	%% HTML tags %%
*/
img {
	border: none;
}

/*
	%% Body %%
*/
body.xp-style {
	font-family: DroidSans;
	font-size: 12.5px;
	margin: 0px;
	padding: 0px;
}

/*
	%% Dialog Tableless %%
*/
.xp-style .xp-dialog {
	border-bottom: 1px solid #AFAFAF;
	padding: 15px 15px 5px 15px;
}

.xp-style .xp-dialog-button {
	margin: 5px 0 0 10px;
}

/*
	%% Fix qtooltip css %%
*/
.xp-style .ui-tooltip .ui-tooltip-tip {
	/*	margin-right: 10px;
	margin-left: 10px;
	bottom: -4px !important;
	*/
	margin: 3px 10px;
}