@CHARSET "UTF-8";

.xp-style.at-body {
	background: -moz-linear-gradient(top, #FAFAFA, #F5F5F5) repeat scroll 0 0 #F5F5F5;
	background: -webkit-linear-gradient(top, #FAFAFA, #F5F5F5) repeat scroll 0 0 #F5F5F5;
	background: -ms-linear-gradient(top, #FAFAFA, #F5F5F5) repeat scroll 0 0 #F5F5F5;
	background: linear-gradient(to bottom, #FAFAFA, #F5F5F5) repeat scroll 0 0 #F5F5F5;
}

.xp-style .at-serv-link {
	text-decoration: none;
	font-size: 12px !important;
	color: #245DC1;
}

.xp-style .at-serv-link:hover {
	text-decoration: underline;
}

.xp-style .at-list {
	list-style: none outside none;
	float: left;
	line-height: 0.7;
	margin-right: 20px;
}

.xp-style .at-datalist-item {
	border-bottom: 1px solid #EBEBEB;
	font-size: 1.077em;
	font-weight: bold;
	display: block;
	line-height: 24px;
}

.xp-style .at-itembutton {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	border-radius: 0 0 0 0;
	box-shadow: 0 0 0;
}

.xp-style .at-itembutton:hover {
	border: medium none;
	box-shadow: 0 0 0;
	border-radius: 0;
}

.xp-style .at-datagrid .ui-datagrid-content .ui-datagrid-column {
	width: 50%;
	padding: 15px 20px 10px 0;
}

.xp-style .at-datagrid .ui-datagrid-content-empty {
	margin: 15px 0 10px 0;
}

.xp-style .at-datagrid-item {
	color: #245DC1;
	font-size: 13px;
	margin-bottom: 5px;
	text-decoration: none;
}

.xp-style .at-datagrid-item:hover {
	text-decoration: underline;
}