@CHARSET "UTF-8";

/*
	%% Buttons %%
*/
.xp-style .xp-button {
	background: -moz-linear-gradient(top, #37AAEA, #117ED2) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #37AAEA, #117ED2) repeat scroll 0 0 transparent;
	background: -ie-linear-gradient(top, #37AAEA, #117ED2) repeat scroll 0 0 transparent;
	background: linear-gradient(to bottom, #37AAEA, #117ED2) repeat scroll 0 0 transparent;
	border-color: #1992DA #0C75BB #00589C;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 1px 0 #6FC5F5 inset;
	font-family: arial;
	font-weight: normal;
	color: #FFFFFF;
	text-shadow: 0px 0px 0px;
}

.xp-style .xp-button .ui-icon {
	background-image: url("/atius-services/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-aristo");
}

.xp-style .xp-button-icon {
	background: none;
	border: none;
	box-shadow: 0 0 0;
	border-radius: 0 0 0 0;
}

.xp-style .xp-button-icon:hover {
	background: none;
	border: none;
	box-shadow: 0 0 0;
	border-radius: 0 0 0 0;
}

.xp-style .xp-button-icon.ui-button-icon-only:hover .ui-icon {
	background-color: #F2F2F2;
	border-radius: 2px 2px 2px 2px;
}

.xp-style .xp-button-small.ui-button-text-only .ui-button-text {
	padding: 0.25em 1em;
	margin-bottom: -1px;
}

.xp-style .xp-button-small .ui-button-text {
	padding: 0.2em 1em 0.4em 2.1em;
	margin-bottom: -2px;
}

.xp-style .xp-button:hover {
	background: -moz-linear-gradient(top, #2488D4, #1C5BAD) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #2488D4, #1C5BAD) repeat scroll 0 0 transparent;
	background: -ie-linear-gradient(top, #2488D4, #1C5BAD) repeat scroll 0 0 transparent;
	background: linear-gradient(to bottom, #2488D4, #1C5BAD) repeat scroll 0 0 transparent;
	box-shadow: 0 1px 1px 0 #64BEF1 inset;
}

.xp-style .xp-close {
	color: #3F586D;
	font-weight: bold;
	text-decoration: none;
	margin-right: 25px;
	padding-top: 10px;
	float: right;
}

.xp-style a.xp-link {
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) repeat scroll 0 0 #D6D6D6;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) repeat scroll 0 0 #D6D6D6;
	border: 0 solid #DEE5F2;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 2px 2px 4px #CCCCCC;
	font-family: Arial, sans-serif;
	font-weight: bold;
	padding: 6px 13px 7px 8px;
	display: block;
	box-shadow: 2px 2px 4px #CCCCCC;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.698);
}

/* Background  for IE */
.xp-style .xp-link {
	background: url(/atius-security/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.jsf?ln=primefaces-aristo) #c4c4c4
		repeat-x 50% 50%;
}

.xp-style .xp-link:hover {
	background: none repeat scroll 0 0 #5CC6C6;
	box-shadow: 0 0 8px #85B2CB;
	color: #313131;
}