@CHARSET "UTF-8";

/*
	%% Menu %%
*/
.xp-style .xp-menu {
	background: -moz-linear-gradient(top, #FAFAFA, #F5F5F5) repeat scroll 0 0 #F5F5F5;
	background: -webkit-linear-gradient(top, #FAFAFA, #F5F5F5) repeat scroll 0 0 #F5F5F5;
	background: -ms-linear-gradient(top, #FAFAFA, #F5F5F5) repeat scroll 0 0 #F5F5F5;
	background: linear-gradient(to bottom, #FAFAFA, #F5F5F5) repeat scroll 0 0 #F5F5F5;
	box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.20);
	border: 1px solid rgba(100, 100, 100, 0.4);
}

.xp-style .xp-menu .ui-menuitem-link {
	background: transparent;
}

.xp-style .xp-menu .ui-menuitem-link:hover {
	box-shadow: 0px 0px 0px #FFFFFF;
}

.xp-style .xp-menu .ui-menuitem-link:hover .ui-menuitem-text {
	text-decoration: underline;
}

.xp-style .xp-menu .ui-menuitem-link .ui-menuitem-icon {
	margin-right: 6px;
}