@CHARSET "UTF-8";

/*
	%% Primefaces Basic %%
*/
.ui-widget {
	font-family: DroidSans;
	font-size: 12.5px;
}

/*
	%% Primefaces Button %%
*/
button.ui-button-icon-only {
    height: 2.1em;
    width: 2.3em;
}